/node_modules
.DS_Store
/build
**/hosting.*

# vscode
.vscode

# firebase
.firebase
**/.runtimeconfig.json
**/firebase-debug.log
firestore-debug.log
.env.firebase
functions/src/config/config.json

**/.env
